<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Now Amazing Webpage</title>
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
</head>
<body>

<div class="single-item">
    <div><p>your content</p></div>
    <div><p>your content</p></div>
    <div><p>your content</p></div>
</div>


<script src="/js/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.single-item').slick();
    });
</script>

</body>
</html>