
html, body {
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: auto;
    min-width: 366px;
    /*background-image: url(../img/example.jpg);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /*background-attachment: fixed;*/
    -webkit-transition: width 0.5s; /* Safari */
}

.full{
    width:100%;
    height: auto;
}
.submitBtn{
    font-size: 24px;
    background-color:#56b85a;
    border: none; padding: 10px 40px 10px 40px;
    color: #ffffff;
    border-radius: 0px !important;
}

.downloadBtn{
    font-size: 24px;
    background-color:#56b85a;
    border: none;
    padding: 30px 30px 30px 30px;
    color: #ffffff;
    border-radius: 0px !important;
}

.downloadBtn:hover {
    background-color: #3e8e41;
    color: #ffffff;
}

.submitBtn:hover {
    background-color: #3e8e41;
    color: #ffffff;
}

#upload {
    border-radius: 10px;
    font-size: 15px !important;
}

.step{
    display: block;
    border-radius: 30px;
    border: 1px solid #BADA55;
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    margin-left: -30px;
    margin-bottom: 20px;
    line-height: 60px;
    font-size: 30px;
    background-color: #56b85a;
    color: #FFF;
}
.howToDiv span>strong{
     color:#56b85a;
 }

.howToDiv p{
    font-size: 18px;
    color: #666666 !important;
}

.dowmloadPage {
    padding-top: 200px;
}

@media (max-width: 720px){
    .wrapper {
        height: auto !important;
    }
}

@media (max-width: 500px){
    .dowmloadPage {
        padding-top: 50px !important;
    }
}


.wrapper{
    color: #6a6a6a;
    padding-top: 10px;
    padding-bottom: 50px;
    height:90vh;
    width: 100%;
}


.wrapper span>a {
    font-size: 24px;
}

.wrapper a>img:hover {
    border: none #6a6a6a;
    box-shadow: 1px 1px 5px #6a6a6a;
    transition: all 100ms ease;
    cursor: hand;
}


#small-logo{
        display: none;
    }

.title h1 {
    width: 350px;
    height: 160px;
    background: url(../img/Logo_Course2Cal_New_2.png) no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    margin: auto;
}



.choiceLabel{
    color: #FFFFFF;
    font-weight: 400;
}

.choiceLabel a:hover{
    color: #56b85a;
    font-weight: 400;
}


#footer{
    height:auto;
    background-color: transparent;
    border: none;
    color: #6a6a6a;
    font-size: 14px;
    padding: 0px;
}

a {
    color: #3e8e41;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}

a:hover {
    color: #6a6a6a; !important;
}


.social a {
    color: #56b85a !important;
}

.social a:hover {
    color: #6a6a6a; !important;
}
input[type=text], textarea {
    color:black;
    opacity: .9;
}

.dropbtn {
    background-color: #56b85a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
