<div class="wrapper">
    <h2 style="padding-top: 200px;" class="text-center">Click to download your calendar</h2>
    <div class="row">
        <!-- Separate in to 3 base columns -->
        <div id="upload" class="col-sm-12 text-center"><h1></h1>
            <!-- fa fa-calendar fa-4x -->
             <a class="btn downloadBtn btn-default"><span style="color: #fff" class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </div>
             </form>
         </div>
 </div>

