<div class="homeWrapper homeDiv" id="homeDiv">
    <h1 class="text-center"><b>Click me to download your calendar</b></h1>
    <div class="row">
        <!-- Separate in to 3 base columns -->
        <div id="upload" class="col-sm-12 text-center"><h1></h1>
            <a class="btn submitBtn btn-default"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a>
            <p style="margin-top:10px;">Share link with friends or Share on Social Media <b>(Link is only stored for a limited time)</b>: </p>
            <a ng-href="https://www.facebook.com/sharer/sharer.php?u=www.coursity.me/ics/{{ file }}" style="color: #ffffff; padding: 5px;"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a ng-href="https://twitter.com/home?status=Hey!%20just%20added%20my%20course%20schedule%20to%20my%20devices%20using%20Coursity!%20Check%20it%20out%20www.coursity.me/ics/{{ file }}" style="color: #ffffff; padding: 5px;"><i class="fa fa-twitter-square fa-2x"></i></a>
                </div>
            </form>
        </div>
<div id="footer" class="text-center">
    <a style="color: #ffffff" href="https://www.facebook.com/sharer/sharer.php?u=www.coursity.me"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a style="color: #ffffff" href="https://twitter.com/home?status=Hey!%20just%20added%20my%20course%20schedule%20to%20my%20devices%20using%20Coursity!%20add%20yours%20at%20www.coursity.me"><i class="fa fa-twitter-square fa-2x"></i></a>
    <p class="text-center">Designed and Developed by <a href="https://ca.linkedin.com/in/abeomor"> Abe </a> and <a href="https://ca.linkedin.com/pub/sarmad-hashmi/86/278/521"> Sarmad</a></p>
</div>
</div>
</div>

