<header>
  <div class="container">
  	<div class="row">	     
  		<div class="col-md-12">
	        <a href="#homeDiv" class="logo"><img id="small-logo" alt="Brand" src="../img/Logo_Course2Cal.png" height="50px"></a>
	        <a href="#" id="menu-toggle" style="float:right;"><i class="fa fa-bars"></i></a>
	  	</div>
	  </div>
	</div>   
</header>

<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">                
        <li><a href="#homeDiv" class="menu1">Home</a></li>
	  	<li><a href="#howToDiv" class="menu1" >How-To</a></li>
	  	<li><a href="#whyC2C" class="menu1">Why Coursity</a></li>
	  	<li><a href="#developed" class="menu1">Developed By</a></li>
	  	<li><a href="#emailSugg" class="menu1" style="">Email Suggestions</a></li>
		  <br>
		  <hr style="width: 80%; color: #999; margin: auto">
		  <br>
	    <li style="color: #999;">Share On</li>
	    <li class="text-center">
	      <a href=https://www.facebook.com/sharer/sharer.php?u=www.coursity.me style="display: inline"><i class="fa fa-facebook-square fa-2x"></i></a>
	      <a href="https://twitter.com/home?status=Hey!%20just%20added%20my%20course%20schedule%20to%20my%20devices%20using%20Coursity!%20add%20yours%20at%20www.coursity.me" style="display: inline"><i class="fa fa-twitter-square fa-2x"></i></a>
	    </li>	    
    </ul>
</nav>

<div class="uploadFilePartial homeWrapper homeDiv full" id="homeDiv">
	<div class="row">
		<!-- Separate in to 3 base columns -->
		<div class="col-sm-6">
		</div>
		<div class="col-sm-6 text-center title"><h1></h1>

			<p style="width: 100%; margin:auto;"><i>Coursity allows students to store one's course calendar on any device's calendar app.</i></p>

			<form ng-submit="upload(file)" class="dropzone" id="timetable-submit" enctype="multipart/form-data">
				<div class="form-group">
					<div style="padding: 5px;">
						<p class="choiceLabel">Select University</p>
					<select ng-model="university" id="uniChoose" >
						<option value="" disabled selected>Choose University</option>
						<option ng-repeat="uni in universities" value="{{uni.value}}">{{ uni.name }}</option>
					</select>
					</div>
				<div style="padding-bottom: 0px;">
					<p class="choiceLabel">Select Semester</p>
					<select ng-model="semester" id = "semChoose" >
						<option value="" disabled selected>Choose Semester</option>
						<option ng-repeat="sem in semesterList" value="{{sem.value}}">{{ sem.name }}</option>
					</select>
				</div>
				</div>
				<div class="form-group" style="padding-bottom: 0px;">
					<p for="file" class="choiceLabel">Upload timetable HTML <a target="_blank" href="../../McMaster%20Example%20Timetable.html" class="choiceLabel">(Example Timetable)</a></p>
					<input style="margin:auto; width: 70%" type="file" ngf-select name="html" id="file" ng-model="file">
				</div>
				<div style="padding: 5px;">
					<p class="choiceLabel">Your Email (<b>Optional</b>, Calendar file will be emailed)</p>
					<input style="width:70%" type="text" ng-model="calEmail" placeholder="example@placeholder.com" />
				</div>
				<button type="submit" id="submitButton" class="btn btn-default submitBtn">SUBMIT</button>
			</form>			
			<p class="message"> {{ message }}</p>
			<div id="downloadDiv" style="padding-top:5%;"></div>
			<div style="padding-top: 40px">
			<a href="#howToDiv" id="goToHowTo" class="one-page-arrow choiceHow">
				<i class="fa fa-arrow-down fa-3x infinite animated fadeInDown"></i>
				HOW-TO GUIDE
			</a>
			</div>
		</div>
	</div>
</div>

<div id="howToDiv" class="row" style="height: auto">
		<!-- Separate in to 3 base columns -->
		<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div id="example" class="owl-carousel owl-theme">
			<div class="item">
				<li><b>How To Guide for Example University</b></li>
				<img src="../../img/Example-How-To.png">
				<p><b>Step 1: </b>Right Click this <a href="../../McMaster%20Example%20Timetable.html"> Example Timetable Link </a> and Click Save Link As... Then upload McMaster Example Timetable.HTML. Select the Example University, and Any Semester</p>
			</div>
		</div>
		<div id="mcmaster" class="owl-carousel owl-theme">
			<div class="item">
				<li><b>How To Guide for {{ university }} University</b></li>
				<img src="../../img/Steps%20to%20Use%20Course2Cal/New_Step1.PNG">
				<p><b>Step 1: </b><b>Use Google Chrome or Firefox</b> (Safari Not Supported Yet) on a <b>Desktop/Laptop</b>. Click this <a target="_blank" href="https://csprd.mcmaster.ca/psc/prcsprd/EMPLOYEE/HRMS_LS/c/SA_LEARNER_SERVICES.SSR_SSENRL_SCHD_W.GBL">link</a> and Log in using your Mosaic credentials,
					The link will lead you to your weekly Schedule. If you are already log into Mosaic,
					your timetable will appear instead of a the login page above. <a target="_blank" href="https://csprd.mcmaster.ca/psc/prcsprd/EMPLOYEE/HRMS_LS/c/SA_LEARNER_SERVICES.SSR_SSENRL_SCHD_W.GBL">Link to Weekly Timetable</a></p>
			</div>
			<div class="item">
				<li><b>How To Guide for {{ university }} University</b></li>
				<img src="../../img/Steps%20to%20Use%20Course2Cal/New_Step2.PNG">
				<p><b>Step 2: </b>Click the little calender icon and select a date that show your <b>whole week calendar</b> (*important). For example <b>Sept 14th</b>, then click Refresh Calendar</p>
			</div>
			<div class="item">
				<li><b>How To Guide for {{ university }} University</b></li>
				<img src="../../img/Steps%20to%20Use%20Course2Cal/New_Step3.png">
				<p><b>Step 3: </b>Right-click the the page and click Save-As.. and Save the webpage as <b>"Webpage,Complete"</b> (*important)</p>
			</div>
			<div class="item">
				<li><b>How To Guide for {{ university }} University</b></li>
				<img src="../../img/Steps%20to%20Use%20Course2Cal/New_Step4.PNG">
				<p><b>Step 4: </b>Go to the location the file was saved. Upload the .HTML(usually Weekly Schedule.html) file to Coursity (use choose file button above or drag & drop) and get you iCalendar file</p>
			</div>
		<div class="item">
			<li><b>Add Calendar to Google Calendar</b></li>
			<img src="../../img/googcal.png">
			<b>Step 1</b> - Open <a target="_blank" href="https://www.google.com/calendar/render?tab=wc&pli=1#settings-calendars_9">Google Calendar website</a>, Be sure you are logged into a Gmail Account.
			<br>
			<b>Step 2a</b> - If you are already logged in, you can just click the "Import Calendar" button on the page. If not, proceed to Step 2b
			<br>
			<b>Step 2b</b> - Just to the right of "Other calendars" on the left sidebar of your Google Calendar you will see a downwards facing arrow. Click on this arrow and then select "Import calendar"
			<br>
			<b>Step 3</b> - Find your recently saved calendar file and select or create a new Calendar to drop all your dates into

		</div>

		<div class="item">
			<li><b>Add Calendar to Devices</b></li>
			<img src="../../img/responsive-devices.png">
			<b>For Mac-Book</b> : Just Double click and open the calendar file generate by this site (.ics file), Make sure you select New Calendar then click OK
			<br>
			<b>For IPhone</b> : Send the calendar file generate by this site (.ics file) to IPhone via email, and open the file, import to IPhone Calendar
			<br>
			<b>For Android</b>: Download Google Calendar from Google Play, send the calendar file generate by this site (.ics file) to Android via email, and open the file with Google Calendar

		</div>
		</div>
		<div id="uottawa" class="owl-carousel owl-theme">
			<div class="item">
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/step1.png">
				<p><b>Step 1: </b>http://www.uottawa.ca/en/students</p>
			</div>

			<div class="item">
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/Step2.png">
				<p><b>Step 2: </b>Click on Rabaska-On line registration</p>
			</div>

			<div class="item">
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/Step3.png">
				<p><b>Step 3: </b>Click "My Timetable"</p>
			</div>

			<div>
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/Step4.png">
				<p><b>Step 4: </b>Select a week that falls into the semester that you want the calendar for and contains all the courses that you're taking in the week.
					For example: The schedule for the week of September 20th would fall in the fall semester.
					The sechedule for the week of January 20th would fall in the winter semester.</p>
			</div>

			<div class="item">
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/Step5.png">
				<p><b>Step 5: </b>Right click on page, click "Save as..." and be sure "Webpage, Complete" is selected and click save to the location you want to save it to.</p>
			</div>

			<div class="item">
				<li><b>How To Guide for {{ university }}</b></li>
				<img src="../../img/uottawasteps/Step6.png">
				<p><b>Step 6: </b>Upload the Rabaska.html you just saved and output a beautiful Calendar file!</p>
			</div>

			<div class="item">
				<li><b>Add Calendar to Google Calendar</b></li>
				<img src="../../img/googcal.png">
				<b>Step 1</b> - Open <a target="_blank" href="https://www.google.com/calendar/render?tab=wc&pli=1#settings-calendars_9">Google Calendar website</a> Be sure you are logged into a Gmail Account
				<br>
				<b>Step 2a</b> - If you are already logged in, you can just click the "Import Calendar" button on the page. If not, proceed to Step 2b
				<br>
				<b>Step 2b</b> - Just to the right of "Other calendars" on the left sidebar of your Google Calendar you will see a downwards facing arrow. Click on this arrow and then select "Import calendar"
				<br>
				<b>Step 3</b> - Find your recently saved calendar file and select or create a new Calendar to drop all your dates into

			</div>

			<div class="item">
				<li><b>Add Calendar to Devices</b></li>
				<img src="../../img/responsive-devices.png">
				<b>For Mac-Book</b> : Just Double click and open the calendar file generate by this site (.ics file), Make sure you select New Calendar then click OK
				<br>
				<b>For IPhone</b> :  Send the calendar file generate by this site (.ics file) to IPhone via email, and open the file, import to IPhone Calendar
				<br>
				<b>For Android</b>: Download Google Calendar from Google Play, send the calendar file generate by this site (.ics file) to Android via email, and open the file with Google Calendar

			</div>
		</div>
	</div>
		<div class="col-sm-2"></div>
	</div>


<div class="row" id="whyC2C">
  <div class="col-sm-12">
  <div class="row " style="height: auto;">
    <div class="col-sm-6 text-center"><img src="../img/Share%20Icon.png" height="400"  style="margin-top:20px"> </div>
    <div class="col-sm-6"><h2>Share and Compare <br> Schedule with friends</h2>
      <p>University is busy, and keeping track of your friends and classmates
      schedules can be tricky. Coursity makes sharing and comparing easy, even between iPhone and Android, or
      between Google Calendar and Outlook.</p>
    </div>
  </div>
  <div class="row" style="height: auto">
    <div class="col-sm-6"><h2>Sync Class Schedule <br> with all devices</h2>
      <p>Coursity works with Google Calendar, iCloud, Outlook, and any other calendar app that syncs with your phone.
      Upload your timetable to Coursity and it automatically convert the timetable to an iCalendar file. It’s that easy.</p>
    </div>
    <div class="col-sm-6 text-center"><img src="../img/Calendar%20Sync.png"  height="400" style="margin-top:20px"></div>
  </div>
</div>
</div>
<div class="row" id="developed">   
   <h1 class="text-center">Developed By</h1>
  <div class="col-sm-6 text-center"><img src="../img/Abe-Pic.png" style="margin-top:20px">
  <h2><a href="https://ca.linkedin.com/in/abeomor">Abraham Omorogbe</a></h2>
    <p>McMaster Software Engineering,<br>
      and Management Student and Co-Founder and<br>
		Director of Software at <a href="http://www.canvasgroup.ca">Canvas Group Canada</a></p>
  </div>
  <div class="col-sm-6 text-center"><img src="../img/sarmad-pic.png" style=" margin-top:20px">
  <h2><a href="https://ca.linkedin.com/pub/sarmad-hashmi/86/278/521">Sarmad Hashmi</a></h2>
    <p>University of Ottawa Software Engineering<br>
      Student, Student Developer at Blackberry<br>
      and Web Specialist at UOttawa</p>
  </div>
</div>
<div class="row" id="emailSugg">
  <div class="col-sm-6 emailText" style="text-align:center;">
  	<h1 style="padding-top: 20px">Got any suggestions or comments?</h1>
  		<form ng-submit="feedback()" id="feedback-submit">
				<div class="form-group" style="margin-bottom: 5px;">
					<div style="padding: 25px;">
						<p class="choiceLabel">Your Email</p>
						<input style="width:70%" type="text" ng-model="email" required />
					
					</div>
				<div  style="padding-bottom: 5px;">
					<p class="choiceLabel">Your Feedback</p>			
					<textarea style="width:70%; height: 70px" rows="10" type="text" ng-model="messageFeedback" required />
				</div>				
				</div>
				<div id="captcha" class="g-recaptcha" data-sitekey="6LcmqgsTAAAAAOurJBiOM3XrH_uh6_7OWM_OTOMi"></div>
				<button type="submit" class="btn btn-default submitBtn">SUBMIT</button>

		</form>		
		<p class="message"> {{ feedbackMessage }}</p>
  </div>
  <div class="col-sm-6 paddingEmail">
    <h1 style="padding-top: 20px">Future Features</h1>
    <ul style="font-size: x-large">
      <br>
    <li>Automatically add assignment</li>
      <br>
    <li> Online Schedule Comparing</li>
		<br>
		<li>Google Chrome Extension</li>
      <br>
    <li>Your Suggested Feature</li>
    </ul>
  </div>
</div>
<div id="footer" class="text-center">
    <a style="color: #ffffff" href="https://www.facebook.com/sharer/sharer.php?u=www.coursity.me"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a style="color: #ffffff" href="https://twitter.com/home?status=Hey!%20just%20added%20my%20course%20schedule%20to%20my%20devices%20using%20Coursity!%20add%20yours%20at%20www.coursity.me"><i class="fa fa-twitter-square fa-2x"></i></a>
  <p class="text-center">Designed and Developed by <a href="https://ca.linkedin.com/in/abeomor"> Abraham Omorogbe </a> and <a href="https://ca.linkedin.com/pub/sarmad-hashmi/86/278/521"> Sarmad Hashmi </a></p>
</div>

