<div class="container">
		<!-- Separate in to 3 base columns -->
		<div style="padding-top: 50px" class="row title clearfix"><h1></h1>
		</div>
		<div class="row">
			<!-- Separate in to 3 base columns -->
			<div style="padding-bottom: 50px" class="col-sm-12 text-center uniLogo"><h1></h1>
				<h2 style="color: #6a6a6a;" style="font-weight: 800">Pick your university</h2>
				<div>
					<a ng-repeat="uni in universities" ng-href="/#/{{uni.value}}"><img style="padding: 15px" ng-src="../img/{{uni.value}}.jpg" alt="Step 1" width="160" height="160"></a>
				</div>
			</div>
		</div>
</div>
