<div class="container uploadFilePartial" id="uploadBody">
	<div class="row">
		<!-- Separate in to 3 base columns -->
		<div class="col-sm-4"></div>
		<div id="uploadDiv" class="col-sm-4 text-center"><h2 style="margin-bottom: 5px;">Course2Cal</h2>
			<p><i>Instantly organize all classes into your personal calendar!</i></p>
	<form ng-submit="upload(file)" id="timetable-submit" enctype="multipart/form-data">
		<div class="form-group">
			<label for="file">Select your university</label>
			<select ng-model="university" id="uniChoose">
				<option ng-repeat="uni in universities" value="{{uni.value}}">{{ uni.name }}</option>
			</select>
			<label>Select Semester</label>
			<select ng-model="countSelected"
					ng-options="count.id as count.name for count in countList" ng-change="onchange(countList[countSelected-1])">
			</select>

		</div>
		<div class="form-group">
			<label for="file">Upload your timetable</label>
			<input style="margin:auto; width: 70%" type="file" ngf-select name="html" id="file" ng-model="file">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<p class="message"> {{ message }}</p>

			<div class="row uploadDivContent">
				<div class="col-sm-4"><a href="index.html"><br>Why Course2Cal?</a></div>
				<div class="col-sm-4"><a href="index.html"><br>Share</a></div>
				<div class="col-sm-4"><a href="index.html"><br>Suggestions...</a></div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<!-- Separate in to 3 base columns -->
		<div class="col-sm-2"></div>
		<div id="howToDiv" class="col-sm-8 text-center"><h2>How-to Guide for {{ university}} Students</h2>
			<section ng-if="university == 'mcmaster'">
			<table class="table table-hover" style="width: 100%">
				<tr data-toggle="modal" data-target="#step1Mac"><td class="table-cell"><h3>Step 1</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%201.PNG"></td><td class="table-cell">Log into Mosaic and Navigate to Student Center</td></tr>
				<tr data-toggle="modal" data-target="#step2Mac"><td class="table-cell"><h3>Step 2</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%202.PNG"></td><td class="table-cell">Click on the Enroll link</td></tr>
				<tr data-toggle="modal" data-target="#step3Mac"><td class="table-cell"><h3>Step 3</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%203.PNG"></td><td class="table-cell">Select the semester. Only Fall 2015 is support right now*</td></tr>
				<tr data-toggle="modal" data-target="#step4Mac"><td class="table-cell"><h3>Step 4</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%204.PNG"></td><td class="table-cell">Click Weekly Schedule view</td></tr>
				<tr data-toggle="modal" data-target="#step5Mac"><td class="table-cell"><h3>Step 5</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%205.PNG"></td><td class="table-cell">Click the little calender icon and select a date that show your whole week calendar. For example Sept 14th, then click Refresh Calendar</td></tr>
				<tr data-toggle="modal" data-target="#step6Mac"><td class="table-cell"><h3>Step 6</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%206.PNG"></td><td class="table-cell">Right-click the Save-As</td></tr>
				<tr data-toggle="modal" data-target="#step7Mac"><td class="table-cell"><h3>Step 7</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%207.PNG"></td><td class="table-cell">Save the webpage as "Webpage,Complete"</td></tr>
				<tr data-toggle="modal" data-target="#step8Mac"><td class="table-cell"><h3>Step 8</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%208.PNG"></td><td class="table-cell">Go to the location the file was save in, and navigate to the Student Center_files folder</td></tr>
				<tr data-toggle="modal" data-target="#step9Mac"><td class="table-cell"><h3>Step 9</h3> <img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%209.PNG"></td><td class="table-cell">Now you will find your course Calendar HTML-file under a name similar to SA_LEARNER_SERVICES.SSR_SSENRL_SCHD_W.html</td></tr>
				<tr data-toggle="modal" data-target="#stepGoogleCal"><td class="table-cell"><h3>Add Calendar to Google Calendar</h3> <img class="table-pic" src="../../img/googcal.png"></td>
					<td class="table-cell">
						<b>Step 1</b> - Open Google Calendar – Be sure you are logged into a Gmail Account
						<br>
						<b>Step 2</b> - Just to the right of "Other calendars" on the left sidebar of your Google Calendar you will see a downwards facing arrow. Click on this arrow and then select "Import calendar"
						<br>
						<b>Step 3</b> - Find your recently saved calendar file and select or create a new Calendar to drop all your dates into
				</td></tr>
				<tr data-toggle="modal" data-target="#stepDevices"><td class="table-cell"><h3>Add Calendar to MacBook/IPhone/Android</h3> <img class="table-pic" src="../../img/responsive-devices.png"></td>
					<td class="table-cell">
						<b>For Mac-Book</b> : Just Double click and open the .ics file, import to iCal
						<br>
						<b>For IPhone</b> : Send .ics file to IPhone, and open the .ics file, import to iCal
						<br>
						<b>For Android</b>: Download Google Calendar from Google Play, send .ics file to Android, and open the .ics file with Google Calendar
					</td></tr>

			</table>
			</section>
			<p ng-if="university == 'uottawa'"> Not Supported yet, Coming very soon</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<!-- Modal Pop-outs for McMaster University-->
<div id="step1Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 1</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%201.PNG"></p>
				<p>Log into Mosaic and Navigate to Student Center</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step2Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 2</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%202.PNG"></p>
				<p>Click on the Enroll link</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step3Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 3</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%203.PNG"></p>
				<p>Select the semester. Only Fall 2015 is support right now*</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step4Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 4</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%204.PNG"></p>
				<p>Click Weekly Schedule view</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step5Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 5</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%205.PNG"></p>
				<p>Click the little calender icon and select a date that show your whole week calendar. For example Sept 14th, then click Refresh Calendar</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step6Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 6</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%206.PNG"></p>
				<p>Right-click the Save-As</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step7Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 7</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%207.PNG"></p>
				<p>Save the webpage as "Webpage,Complete"</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step8Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 8</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%208.PNG"></p>
				<p>Go to the location the file was save in, and navigate to the Student Center_files folder</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="step9Mac" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Step 9</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/Steps%20to%20Use%20Course2Cal/Step%209.PNG"></p>
				<p>Now you will find your course Calendar HTML-file under a name similar to SA_LEARNER_SERVICES.SSR_SSENRL_SCHD_W.html</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="stepGoogleCal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Calendar to Google Calendar</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/googcal.png"></p>
				<p>
					<b>Step 1</b> - Open Google Calendar – Be sure you are logged into a Gmail Account
					<br>
					<b>Step 2</b> - Just to the right of "Other calendars" on the left sidebar of your Google Calendar you will see a downwards facing arrow. Click on this arrow and then select "Import calendar"
					<br>
					<b>Step 3</b> - Find your recently saved calendar file and select or create a new Calendar to drop all your dates into
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="stepDevices" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Calendar to MacBook/IPhone/Android</h4>
			</div>
			<div class="modal-body">
				<p><img class="table-pic" src="../../img/responsive-devices.png"></p>
				<p>
					<b>For Mac-Book</b> : Just Double click and open the .ics file, import to iCal
					<br>
					<b>For IPhone</b> : Send .ics file to IPhone, and open the .ics file, import to iCal
					<br>
					<b>For Android</b>: Download Google Calendar from Google Play, send .ics file to Android, and open the .ics file with Google Calendar
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" id="test1" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
