<div class="homeDiv">
    <h1 class="text-center"><b>How To Guide for {{ uni }} University</b></h1>
    <!-- Separate in to 3 base columns -->
    <div style="width: 70%; margin:auto" class="row">
        <div class="col-md-4">
            <h4>Step 1</h4>
            <img src="" alt="Step 1" width="250" height="250">
            <span><br>Log into Mosiac, go to <strong>Student Center</strong>, then <strong>Weekly Calendar</strong> <br>
                Click <strong>List View</strong>
                </span>
        </div>
        <div class="col-md-4">
            <h4>Step 2</h4>
            <img src="" alt="Step 2" width="250" height="250"></span>
            <span><br>Right-click and click <strong>Select All</strong>, to select<br> everything on the page
                Copy all selected <br>content
        </div>
        <div class="col-md-4">
            <h4>Step 3</h4>
            <img  src="" alt="Step 3" width="250" height="250">
            <span><br>Paste timetable in the textbox below and hit submit</span>
        </div>
        </div>
    <div class="row">

        <div id="upload" class="col-sm-12 text-center"><h1></h1>

            <form ng-submit="upload(file)" enctype="multipart/form-data">
                <div class="form-group">
                    <div style="padding: 5px;">
                        <div style="padding: 5px;">
                            <p class="choiceLabel">Your Email (<b>Optional</b>, Calendar file will be emailed)</p>
                            <input style="width:50%" type="text" ng-model="calEmail" placeholder="example@placeholder.com" />
                        </div>

                        <textarea style="width:50%; height: 150px" rows="20" type="text" placeholder="Schedule Here"  ng-model="rawTimetable" required />
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-default submitBtn">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>

