<h3 class="text-center"><b>Import your schedule from <a target="_blank" href="https://uozone2.uottawa.ca">uoZone</a></b></h3>
<div style="width: 70%; margin:auto; text-align: center" class="row">
    <div class="col-md-4">
        <span class="step">1</span>
        <p>Log into <strong><a target="_blank" href="https://uozone2.uottawa.ca">uoZone</a></strong> (this might take a while...)</p>
        <img ng-src="../../img/{{uni}}_step1.jpg" alt="Step 1" width="225" height="225">
    </div>
    <div class="col-md-4">
        <span class="step">2</span>
        <p>Open your <strong><a target="_blank" href="https://uozone2.uottawa.ca/apps/course_schedule">timetable (click me!)</a></strong> and copy everything</p>
        <img ng-src="../../img/{{uni}}_step2.jpg" alt="Step 2" width="225" height="225"></span>
    </div>
    <div class="col-md-4">
        <span class="step">3</span>
                    <p><strong>Paste your timetable below</strong> and let the magic happen</p>
                    <textarea style="width:190px; height: 225px;" type="text" ng-model="rawTimetable" required />
    </div>
</div>
