<div style="width: 70%; margin:auto; text-align: center" class="row">
    <h1 class="text-center"><b>Import your schedule from <a target="_blank" href="https://uozone2.uottawa.ca">uoZone</a></b></h1>
    <br>
    <div class="col-md-6">
        <span class="step">1</span>
        <img ng-src="../../img/{{uni}}_step1.jpg" alt="Step 1" width="225" height="225">
        <p>Log into <strong><a target="_blank" href="https://uozone2.uottawa.ca">uoZone</a></strong></p>
    </div>
    <div class="col-md-6">
        <span class="step">2</span>
        <img ng-src="../../img/{{uni}}_step2.jpg" alt="Step 2" width="225" height="225"></span>
        <p>Open your <strong><a target="_blank" href="https://uozone2.uottawa.ca/apps/course_schedule">timetable (click me!)</a></strong>, copy everything and paste below.</p>
    </div>
</div>
