<div class="container uploadFilePartial">
	<form ng-submit="upload(file)" id="timetable-submit" enctype="multipart/form-data">
		<div class="form-group">
			<label for="file">Select your university</label>
			<select ng-model="university">
				<option ng-repeat="uni in universities" value="{{uni.value}}">{{ uni.name }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="file">Upload your timetable</label>
			<input style="margin:auto; width: 70%" type="file" ngf-select name="html" id="file" ng-model="file">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<p class="message"> {{ message }}</p>
</div>